html, body {
  border: 0;
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  color: #1b1d1e;
  font-family: sans-serif;
  font-size: 100%;
  background: #e7e9ea;
}

h1 {
  font-size: 1em;
  font-weight: bold;
  line-height: auto;
  margin: 0;
}

h2 {
  font-size: 1.3em;
  font-weight: bold;
  line-height: auto;
  margin: 0 0 0.25em;
}

h3 {
  font-size: 1em;
  font-weight: bold;
  line-height: auto;
  margin: 0 0 0.25em;
}

p {
  font-size: 1em;
  font-weight: normal;
  line-height: 1.5em;
  margin: 0 0 1em;
}

li {
	margin-bottom: .5em;
}

a {
  color: #DC2E00;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a.current {
  color: white !important;
  display: none;
}

.boxclose {
  float:right;
  margin-top:-20px;
  margin-right:-20px;
  cursor:pointer;
  color: #fff;
  border: 2px solid #eeeeee;
  border-radius: 30px;
  background: #333333;
  font-size: 17px;
  font-weight: bold;
  display: inline-block;
  line-height: 2px;
  padding: 13px 8px;    
}

.box {
  box-shadow: 10px 10px 28px 1px rgba(0,0,0,0.75);
  
  border-radius: 13px 13px 13px 13px;
  border: 2px solid #000000;
  background-color: #8acc8d;
  padding: .5em;
  margin: 2em;
}

.readme {
  box-shadow: 10px 10px 28px 1px rgba(0,0,0,0.75);
  
  border-radius: 13px 13px 13px 13px;
  border: 2px solid #000000;
  background-color: #76AFDE;
  padding: .5em;
  margin: 2em;
}

.error {
  box-shadow: 10px 10px 28px 1px rgba(0,0,0,0.75);
  
  border-radius: 13px 13px 13px 13px;
  border: 2px solid #000000;
  background-color: #F37A5C;
  padding: .5em;
  margin: 2em;
}

#header {
  margin-top: -10px;
  background: #1b1d1e;
  height: 40px;
  padding-left: 2px;
}

#header a {
  color: #DC2E00;
  font-size: 1.2em;
}

#header img {
  top: 10px;
  position: relative;
}

#content {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  clear: both;
  margin-top: .5em
}

a#logo {
  margin: 0 .2em 0 0;
}

.grid-item {
  width: 280px;
}

.chatbox {
  box-shadow: 4px 4px 10px 1px rgba(0,0,0,0.75);
  border-radius: 8px 8px 8px 8px;
  border: 1px dotted #000000;
  background-color: #FEEB5C;
  padding: .5em;
  margin: .75em;
  min-height: 100px;
  display: flex;
  flex-direction: column;
}

.chat-time::before {
  content: " -- ";
}

.chat-time {
  font-style: italic;
  font-size: 70%;
  text-align: right;
}

.chat-name::before {
	content: "From: ";
	font-weight: normal;
}

.chat-name {
  font-weight: bold;
	
}

.chat-message {
	flex-grow: 1;
}


.delbtn {
  background: #d3605e;
  background-image: linear-gradient(to bottom, #d3605e, #c92b26);
  border-radius: 5px;
  text-shadow: 1px 1px 3px #666666;
  box-shadow: 0px 1px 3px #666666;
  font-family: Arial;
  font-size: 12pt !important;
  color: #ffffff;
  font-size: 20px;
  padding: 4px 8px 4px 8px;
  text-decoration: none;
	float:right
}

.delbtn:hover {
  background: #c92b26;
  background-image: linear-gradient(to bottom, #c92b26, #d3605e);
  text-decoration: none;
}

.topbar {
  padding: 0 2em 0 2em;
  margin:0;
  border: 1px solid black;
  box-shadow: 0 2px 8px 1px rgba(0,0,0,0.75);
}

.warn {
  background-color: #E9C130;
}

.nav {
  background-color: #ec8605;
}

.nav a {
  color: #be0417;
}