# Trigger displaying the startup logo on the OLED as soon as i2c is available.

ACTION=="add", SUBSYSTEM=="i2c-dev", TAG+="systemd", ENV{SYSTEMD_WANTS}="logo.service"
