[Unit]
Description=Reboot if USB is fscked
After=systemd-modules-load.service
DefaultDependencies=no
Before=networking.service
 
[Service]
Type=oneshot
ExecStart=/etc/usb-or-bust.sh
 
[Install]
WantedBy=networking.service
