[Unit]
Description=Reboot if USB is fscked
DefaultDependencies=no
After=systemd-modules-load.service
Before=syslog.socket
 
[Service]
Type=oneshot
ExecStart=/etc/usb-or-bust.sh
 
[Install]
WantedBy=syslog.socket
