[Unit]
Description=Enable power to USB bus
DefaultDependencies=no
Before=systemd-remount-fs.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/etc/bin/reboot-usb.sh

[Install]
WantedBy=systemd-remount-fs.service networking.service
