[Unit]
Description=Enable power to USB bus
After=systemd-remount-fs.service
Before=networking.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/etc/bin/reboot-usb.sh

[Install]
WantedBy=networking.service
Wants=systemd-remount-fs.service
