[Unit]
Description=Show Sunny+Share Logo
DefaultDependencies=no
Conflicts=shutdown.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/bin/python /etc/oled/logo.py
