[Unit]
Description=Setup data partition
RequiresMountsFor=/mnt/data
Requires=mnt-data.mount
After=mnt-data.mount

[Service]
ExecStart=/etc/setup-data.sh

[Install]
WantedBy=mnt-data.mount
